body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
}

.container {
    width: 900px;
    height: 550px;
    /* padding: 20px; */
    text-align: center;
    background-color: #fff;
}

.red-box {
    display: flex;
    justify-content: space-between;
    background-color: red;
}
.red-box .text1{
    border: 3px solid #000;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px; /* 调整字体大小为24像素 */

}

.red-box div {
    width: 33%;
    height: 50px;
    color: #fff;
}

.container .bottom1 {
    background-color: #00f;
}